{% extends "layout.html" %}
{% block title %}404{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>Wobble, the Earthquake Service</h1>
        <p>About 6 months ago, <a href="https://twitter.com/WAGGNews">@WAGGNews</a>
          asked me to make a Twitter bot for them that tweets earthquakes, and information
          regarding them. <a href="https://github.com/WAGGNews/WAGG-Earthquake-Bot">I did</a>,
          sort of. Although the functionality was there, I never finished connecting it to Twitter
          or pushing it to a server.</p>
      </div>
    </div>
  </div>
{% endblock %}
