{% extends "layout.html" %}
{% block title %}The Earthquake Service{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>{{ earthquake }}</h3>
        <p>About 6 months ago, <a href="https://twitter.com/WAGGNews">@WAGGNews</a>
          asked me to make a Twitter bot for them that tweets earthquakes, and information
          regarding them. <a href="https://github.com/WAGGNews/WAGG-Earthquake-Bot">I did</a>,
          sort of. Although the functionality was there, I never finished connecting it to Twitter
          or pushing it to a server.</p>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p>I want to finish that project, though, because I enjoyed working on it, and I'd like
        to help out WAGG as much as possible. But I'd also like to create a service around this functionality, because I think it'd serve as a helpful tool to anyone who wishes to monitor recent earthquakes, for whatever reason that may be.</p>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p>So, without further adieu, here's Wobble.</p>
      </div>
    </div>
  </div>
{% endblock %}
